/* ********** Custom Properties ********** */
:root {
  --first-color: rgba(127, 38, 91);
  --gray-5: rgba(224, 224, 224);
  --gray-3: rgba(130, 130, 130);
  --font: "Manrope", sans-serif;
}
/* ********** Reset ********** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 2.25rem;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

a {
  color: var(--first-color);
  text-decoration: none;
}
/* ********** Components ********** */
/* ********** Btn google ********** */
.btn-google {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 13px;

  width: 100%;
  height: 45px;
  font-family: var(--font);
  font-weight: bold;
  font-size: 0.875rem;

  color: rgba(130, 130, 130);
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
/* ********** Form ********** */
form {
  flex-direction: column;

  width: 420px;
  margin-top: 36px;
  margin-bottom: 188px;
  padding: 0px;
}

form > :nth-child(1) {
  color: var(--first-color);
}

form > :nth-child(1) p {
  margin-top: 3px;
  margin-bottom: 32px;
}

form > :nth-child(2) {
  margin-top: 36px;
  margin-bottom: 36px;

  color: rgba(221, 221, 221);
  font-size: 0.75rem;
}

form > :nth-child(2) span {
  color: rgba(161, 161, 161);
}

form > :nth-child(3) {
  flex-direction: column;
}

form > :nth-child(3) > :nth-child(1) {
  margin-bottom: 24px;
}

form > :nth-child(3) > label {
  font-size: 0.875rem;
  font-weight: 600;

  color: var(--gray-3);
}

form > :nth-child(3) > label > input {
  width: 100%;
  height: 45px;
  margin-top: 4px;
  padding: 13px 10px;

  border: 1px solid rgba(222, 210, 217);
  border-radius: 5px;
}

form > :nth-child(3) > label > input::placeholder {
  color: var(--gray-3);
}

form > :nth-child(3) > :nth-child(3) {
  justify-content: space-between;

  margin-top: 8px;
  margin-bottom: 32px;

  font-size: 0.75rem;
  color: rgba(161, 161, 161);
}

form > :nth-child(3) > :nth-child(3) label {
  display: inherit;
  align-items: center;
}

form > :nth-child(3) > :nth-child(3) input {
  display: none;
}

form > :nth-child(3) > :nth-child(3) span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  padding: 3px 2px;

  background-color: var(--first-color);
  border-radius: 2px;
}

form > :nth-child(3) > :nth-child(3) span svg {
  position: absolute;
  visibility: hidden;
}

form > :nth-child(3) > :nth-child(3) input:checked ~ span svg {
  visibility: visible;
}

form > :nth-child(3) > :nth-child(4) {
  padding: 12px 0px;

  font-size: 1.125rem;
  font-weight: 800;

  color: rgb(255, 255, 255);
  background-color: var(--first-color);

  border: 0px;
  border-radius: 6px;
  cursor: pointer;
}

/* ********** Register ********** */
main > :nth-child(2) > :last-child {
  font-size: 1.125rem;
  color: var(--gray-3);
}

/* ********** Utilities ********** */
.weight-600 {
  font-weight: 600;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}
/* ********** Site Styles ********** */
main > :nth-child(1) {
  /* height: 100vh; */
}

main > :nth-child(2) {
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* align-items: center; */
  /* align-content: center; */
  padding: 0px 190px 0px 140px;
}
